/* 헤더 부분 */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  box-shadow: 0 2px 4px var(--border-light-gray);
  background-color: #fff;
}

@media screen and (min-width: 1000px) {
  .header {
    justify-content: unset;
    padding: 8px 25px;
    box-shadow: none;
    border-bottom: 1px solid var(--border-white-gray);
  }
}

/* 사이드바 버튼 */
.btn-sidebar {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 1000px) {
  .btn-sidebar {
    display: none;
  }
}

/* 로고 부분 */
.img-logo {
  width: 74px;
  height: 31px;
  object-fit: cover;
}

/* 검색창 */
.search {
  display: none;
}

.btn-search {
  display: none;
}

@media screen and (min-width: 1000px) {
  .search {
    display: block;
    margin-left: 25px;
    position: relative;
  }

  .input-search {
    width: 320px;
    height: 42px;
    padding: 0 50px 0 16px;
    border: 1px solid var(--border-light-gray);
    border-radius: 22px;
    font-size: 1.4rem;
    font-weight: 500;
    font-family: "Noto Sans KR", sans-serif;
  }

  .input-search::placeholder {
    color: var(--text-light-gray);
    font-weight: 500;
  }

  .input-search:focus {
    outline: 1px solid black;
  }

  .btn-search {
    display: block;
    background: url("../../assets/images/gnb_search_gray.svg");
    width: 24px;
    height: 24px;
    border: none;
    position: absolute;
    top: 10px;
    right: 16px;
  }

  .input-search:focus + .btn-search {
    background: url("../../assets/images/gnb_search.svg");
  }
}

/* 텍스트 링크 */
.text-info {
  display: none;
}

@media screen and (min-width: 1000px) {
  .text-info {
    display: flex;
    align-items: center;
    width: calc(100vw - 730px);
    margin-left: 20px;
  }

  .text-annote {
    margin-right: 12px;
    padding: 4px 8px;
    background-color: var(--text-bg-pink);
    border-radius: 14px;
    font-size: 1.4rem;
    line-height: 1.4;
    flex-shrink: 0;
    color: var(--text-red);
  }

  .link-goods {
    font-size: 1.5rem;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--text-black);
  }
}

/* 로그인 및 회원가입 */
.link-login {
  display: flex;
  align-items: center;
}

.img-login {
  width: 24px;
  height: 24px;
  object-fit: cover;
}

.article-login {
  display: none;
}

@media screen and (min-width: 1000px) {
  .link-login {
    display: none;
  }

  .article-login {
    position: relative;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    padding: 0 20px 0 0;
    font-size: 1.4rem;
    color: var(--text-light-gray);
    margin-left: auto;
  }

  .article-login::before {
    content: "";
    display: block;
    width: 1px;
    height: 20px;
    background-color: var(--border-light-gray);
    margin-right: 20px;
  }

  .img-login {
    width: 18px;
    height: 18px;
    margin-right: 8px;
  }

  .text-login::after {
    content: "";
    display: inline-block;
    width: 3px;
    height: 3px;
    background-color: var(--text-light-gray);
    border-radius: 50%;
    margin: 0 5px;
    vertical-align: 0.4rem;
  }
}
