.sidebar-wrap {
  display: none;
  position: fixed;
  inset: 0;
  background-color: var(--sidebar-wrap-gray);
  z-index: 9999;
}

.sidebar-container {
  background: #fff;
  width: 300px;
  height: 100%;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 13px;
  margin-bottom: 6px;
}

.sidebar-title {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--text-bold-gray);
}

.sidebar-title-sub {
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--text-light-gray);
  padding: 3px 0;
}

.sidebar-section {
  padding: 20px 13px;
  border-bottom: 1px solid var(--border-sidebar-gray);
}

.sidebar-section a {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 1.6rem;
  font-weight: 700;
  padding: 7px 0;
}

.sidebar-section a > img {
  width: 20px;
  height: 20px;
}

@media screen and (min-width: 1000px) {
  body {
    padding-left: 170px;
  }
  .sidebar-wrap {
    position: static;
    display: block;
  }

  .sidebar-header {
    padding: 20px;
    margin-bottom: 0;
  }

  .sidebar-container {
    position: fixed;
    left: 0;
    width: auto;
    background-color: var(--sidebar-black);
    padding: 0;
  }

  .sidebar-section {
    padding: 0 13px 22px 13px;
    border-bottom: 0;
  }

  .sidebar-section a {
    color: #fff;
    padding-left: 7px;
  }
  .sidebar-section a > img {
    filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(324deg) brightness(101%) contrast(102%);
  }

  .sidebar-close {
    padding: 0;
  }

  .sidebar-close > img {
    width: 24px;
    height: 24px;
    filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(324deg) brightness(101%) contrast(102%);
  }
}
