:root {
  --border-light-gray: #e0e0e0;
  --border-sidebar-gray: #eaeaea;
  --border-white-gray: #f3f3f3;
  --text-light-gray: #a8a8a8;
  --input-light-gray: #f5f5f5;
  --text-bg-pink: #ffeeee;
  --text-red: #f1403e;
  --text-black: #212121;
  --text-light-gray: #8f8f8f;
  --text-bold-gray: #a8a8a8;
  --sidebar-wrap-gray: rgba(0, 0, 0, 0.6);
}
